<% provide(:home, "active") %>

<div id="featureCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="item active">
			<!--<img src="1.jpg" alt="" /> -->
			<%= link_to image_tag("1.jpg", :alt => "") %>

					<div class="carousel-caption clearfix">
					<p>"The ultimate test of a moral society is the kind of world that it leaves to its children." - <a href="http://en.wikipedia.org/wiki/Dietrich_Bonhoeffer">Dietrich Bonhoeffer</a></p>
					<h1 class="pull-left">Speak Up!</h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html">To the Blog =></a></p>
				</div>
			</div>
			<div class="item">
				<!--<img src="assets/images/2.jpg" alt="" /> -->

			<%= link_to image_tag("2.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p>Start out on the right foot with an excellent theme for Twitter Bootstrap.</p>
					<h1 class="pull-left">A Solid Foundation</h1>
					<p><a class="btn btn-primary btn-large pull-right" href="styles.html">Explore the Changes</a></p>
				</div>
			</div>
			<div class="item">
				<!--<img src="/assets/images/3.jpg" alt="" /> -->

			<%= link_to image_tag("3.jpg", :alt => "") %>



				<div class="carousel-caption clearfix">
					<p>Using Distinctive it is easy to build a user interface that people will love to use.</p>
					<h1 class="pull-left">Nice and Clean</h1>
					<p><a class="btn btn-primary btn-large pull-right" href="signup.html">See An Example</a></p>
				</div>
			</div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#featureCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
		<a class="carousel-control right" href="#featureCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
	</div>


	<div class="container">	
		<section id="why">
			<div class="row">
				<div class="span4">
					<h3><i class="icon-comment-alt"></i></i> About this Blog</h3>
					This Blog is for the underprivileged, the sick, the poor, the destitute and the outcasts. It's for the conservationists and the romantics and those who believe we can all do a hell of a lot better than we have so far as a society.
				</div>
				<div class="span4">
					<h3><i class="icon-ban-circle"></i> The Rules</h3>
					The rules are very basic. I blog about stuff and post articles that I think might be of interest and you can log in and post comments. You certainly don't have to agree and debate is a good thing so feel free to say what's on your mind. If you're just a troll without anything relevant to say or just being abusive then your comments will not be posted.<br /><p></p>
					You must be able to back up anything you say with facts if you are saying something specific about somebody. Personal opinion is fine as long as you point out that it is only your personal opinion and not a fact that can be backed up on request.<p></p>
					<a class="btn" href="styles.html">Review the Changes</a>
				</div>
				<div class="span4">
					<h3><i class="icon-book"></i> Blog Topics</h3>
						<ul><li>Current affairs</li>
							<li>Politics</li>
							<li>Social Issues</li>
							<li>Religion</li>
							<li>Poverty</li>
							<li>The NZ Health System</li>
							<li>The NZ Justice System</li>
							<li>The Environment</li>
							<li>The cannabis debate</li>
						</ul>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<h3><i class="fa fa-cog fa-spin"></i> Web Design  <i class="fa fa-cog fa-spin"></i></h3>
					I am a qualified and experienced Web Designer and I personally built this site using <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://refinerycms.com/">Refinerycms</a> and <a href="http://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)">Twitter Bootstrap</a> frameworks and templates. This site uses all the latest technologies while remaining within accepted paradigms.  
				</div>
				<div class="span4">
					<h3><i class="icon-ok"></i> Contract Work</h3>
					I am currently available for custom web design and other computer work. This whole Blog framework I am using can be modified and customised to suit an individual client so you can have a fully functional blog very fast. I can also do full blown shopping sites with shopping cart and Paypal. <p></p>
					<a class="btn" href="enquiry.html">Make an Inquiry</a>
				</div>
				<div class="span4">
					<h3><i class="icon-credit-card"></i> Pricing Page</h3>
					Web Design is very hard to quantify cost wise and most projects end up with massive budget blowouts. For this reason I have put together a few fixed cost packages so everybody knows up front what the costs will be.<p></p>
					<a class="btn" href="enquiry.html">Make an Inquiry</a>
				</div>
			</div>
		</section>
	</div>
	
	

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-fileupload.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/main.js"></script>
